@font-face {
  font-family: "Salesforce Sans";
  src: url("/SalesforceSans-Regular.ttf") format("truetype");
}

$header-letter-spacing: 8vw;

div.full-size {
  height: 100%;
  width: 100%;
}

div.header-container {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

p.header {
  font-family: "Salesforce Sans";
  font-weight: bold;
  font-size: 8vmin;
  color: white;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: -$header-letter-spacing;
  letter-spacing: $header-letter-spacing;
}

div.board-container {
  height: 98%;
  width: 98%;
  margin: 0.5%;
  border-radius: 1.5rem;
  background-color: rgb(32, 155, 213);
  padding-bottom: 4vmin;
  padding-left: 4vmin;
  padding-right: 4vmin;
}

div.grid-container {
  height: 90%;
  display: grid;
  padding: 2vmin;
  background-color: white;
}

div.cell-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.05rem #CCC solid;
  cursor: pointer;
}

div.cell-container.top-row {
  border-top: 0;
}

div.cell-container.bottom-row {
  border-bottom: 0;
}

div.cell-container.first-column {
  border-left: 0;
}

div.cell-container.last-column {
  border-right: 0;
}

div.cell-container.bingoed {
  border: 1vmin red solid;
  border-radius: 0.5rem;
}

div.selected-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 80%;
  border-radius: 0.5rem;
  background-color: #b1f9b8;
}

p.cell-text {
  font-size: 2.8vmin;
  letter-spacing: normal;
  margin-bottom: 0;
  color: black;
  font-family: "Salesforce Sans", sans-serif;
}

img.free-space {
  height: 15vmin;
  width: 15vmin;
}

div.overlay {
  position: absolute;
  top: 0;
  left: 0;
}

p.author-credit {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.1vmin;
}